@charset "UTF-8";

body {
    font: normal 13pt arial;
    
    background: linear-gradient(#000000,#000000);
    background-repeat: no-repeat;
    
    height: 100vh;
}

div {
    background-color: rgba(255, 255, 255, 0.141);
    border-radius: 10px;
    text-align: center;

    padding: 10px;
}

div h1 {
    color: white;
}

input {
    border: none;
    border-radius: 10px;
    height: 25px;
    padding: 5px;
}

button {
    border: none;
    border-radius: 10px;
    
    margin: auto;
    position: relative;
    top: 6px;
    
}

button > span {
    position: relative;
    top: 2px;
}

li {

    font-weight: bold;
    color: #44007c;
    background-color: #ffffff;
    list-style: none;

    position: relative;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;

    transition: all .2s;
    
} 


li:hover {
    transform: scale(1.05);
    
    
    
    
}

li > button {
    background-color: #6c03a5;
    border-radius: 0px 9px 9px 0px;
    
    position: absolute;
    top: 0%;
    right: 0%;

    transform: scale(1.05);

    cursor: pointer;    

}

li > button:hover {
    background-color: red;
    transition: .5s;
}

li.clicavel.clicada {
    background-color: white;
    color: #44007c;
    transform: scale(1.05);
}

.remover-icon{
    color: white
}

